.navbarpropio a, h2, .titulo-definicion, .formulario {
  color: #663399;
}

.btn-primary-hf, .footer {
  background-color: #663399;
}

.button {
  background-color: #9f63cf;
}

.navbarpropio a:hover, .nav-footer a:hover {
  color: #e9009b;
}

.btn-primary-hf:hover, .button:hover {
  background-color: #e9009b;
}

.title-1-home, .title-2-home, h1, .title-4-home, .button, .button:hover, #que-es-heartfold, .card-text-hf, #como-hacer-tu-pedido, #contacto, .footer, .nav-footer a {
  color: white;
}

.definicion-heartfold, .subtitulo-heartfold {
  color: #6d6d6d;
}

body {
  font-family: "Roboto", sans-serif;
}

.navbarpropio a {
  font-size: 18px;
}

.title-1-home, .title-2-home {
  font-size: 2em;
}

.title-4-home, .button, .subtitulo-heartfold, .definicion-heartfold {
  font-size: 20px;
}

.card-text-hf {
  font-size: 16px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  line-height: 0.9;
  margin: 5px 0px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 2em;
  line-height: 0.9;
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}

.footer {
  padding: 20px 30px 20px 30px;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.nav-footer a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}

@media (max-width: 414px) {
  .nav-footer {
    display: grid;
    justify-content: center;
  }
}
.nav-footer a:hover {
  font-weight: 300;
}

.copyright {
  display: flex;
  justify-content: center;
}

.button {
  transition-duration: 0.4s;
  width: 200px;
  padding: 15px 40px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  margin-top: 10px;
}
.button.button:hover {
  transition: 1s ease-in-out;
}

.btn-primary-hf {
  display: flex;
  justify-content: center;
  border: none;
}

.navbarpropio {
  padding: 10px;
  border-radius: 20px;
}
.navbarpropio a, .navbarpropio a:hover {
  margin: 0px 15px;
  text-decoration: none;
  font-weight: 500;
}

@media (min-width: 992px) {
  .navbarpropio {
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
  }
}
.seccion-principal {
  height: 800px;
  background-image: url("img/fondo-principal-hearfold-3.png");
  background-size: cover;
}

.cabecera {
  padding: 30px 30px 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logotipo {
  width: 200px;
  margin-left: 40px;
}

.cabecera1 {
  background-color: transparent;
}

.seccion-principal {
  height: 800px;
  background-image: url("../img/fondo-principal-hearfold-3.png");
  background-size: cover;
}

@media (max-width: 992px) {
  .seccion-principal {
    height: 550px;
  }
}
@media (max-width: 414px) {
  .seccion-principal {
    height: 550px;
    background-color: #6e2b9c;
    background-image: none;
  }
}
.texto-principal {
  display: flex;
  padding-left: 50px;
  justify-content: center;
  flex-flow: column wrap;
  margin-top: 120px;
}

@media (max-width: 414px) {
  .texto-principal {
    margin-top: 20px;
  }
}
.title-1 {
  display: flex;
  flex-direction: row;
}

.title-1-home {
  font-weight: 200;
  margin-right: 5px;
}

.title-2-home {
  font-weight: 400;
  color: #fff;
}

.title-4-home {
  margin-right: 5px;
  color: white;
  font-weight: 200;
  margin-bottom: 10px;
}

.section-heartfold {
  padding: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitulo-heartfold {
  font-size: 20px;
  margin: 0px 0px 10px 0px;
}

.titulo-definicion {
  font-weight: 800;
  font-size: 2em;
  margin: 0px 0px 10px 0px;
}

.galeria {
  border: 10px solid #fff;
}

.box-hf {
  width: 70%;
}

.card-hf {
  background-image: linear-gradient(#fff, #cfb3fd);
  border: 2px solid #fff;
}

.card-img-hf {
  width: 100px;
  margin: 30px 30px;
}

.card-text-hf {
  font-size: 16px;
}

.card-body-hf {
  background-color: #ba90ff;
  padding: 1rem 2rem;
}

.fila {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 170px 50px;
  flex-wrap: wrap;
}

@media (max-width: 414px) {
  .fila {
    display: inline;
  }

  .icono-heartfold1 {
    width: 80%;
  }
}
.colum {
  flex: 1;
}

.icono-heartfold1 {
  max-width: 400px;
  display: block;
  margin: auto;
}

.icono-heartfold1:hover {
  transition: all 0.4s ease;
  transform: rotate(360deg);
}

.definicion-heartfold {
  font-size: 18px;
  width: 89%;
}

#galeria-de-creaciones {
  height: 800px;
  background-image: linear-gradient(#e4dcff, #fff);
}

@media (max-width: 992px) {
  #galeria-de-creaciones {
    height: 600px;
  }
}
.galeria-creaciones {
  display: flex;
  justify-content: space-around;
  padding: 50px 50px;
}

.imagenes-galeria {
  width: 100%;
  border: #fff solid 10px;
  transition: all 0.4s ease;
}

.imgzoom:hover {
  width: 100%;
  transform: scale(1.2) rotate(20deg);
}

#como-hacer-tu-pedido {
  height: auto;
  background-color: #d5bbff;
  padding-bottom: 100px;
}

#contacto {
  height: 750px;
  background-image: linear-gradient(#fff, #e4dcff);
}

.formulario {
  padding: 80px;
  border: 1px solid #663399;
  border-radius: 10px;
}

@media (max-width: 992px) {
  .formulario {
    padding: 0px 40px 0px 40px;
    border: none;
  }
}
.social {
  width: 48px;
  position: fixed;
  right: 0;
  bottom: 15%;
  border-radius: 3px;
  background-color: #fff;
}

/*# sourceMappingURL=style.css.map */
