.button {
    transition-duration: 0.4s;
    width: 200px;
    padding: 15px 40px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 30px;
    border:none;
    margin-top:10px;

        &.button:hover {
            transition: 1s ease-in-out;
        }
}

.btn-primary-hf {
    display: flex;
    justify-content: center;
    border:none;

    &.btn-primary-hf:hover {
        transition: 1s ease-in-out;
    }
}

.ir-arriba {
	display:none;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
    right:20px;
    width: 30px;
}