.navbarpropio {
    padding: 10px;
    border-radius: 20px;

    & a, a:hover {
        margin:0px 15px;
        text-decoration: none;
        font-weight: 500;
    }
}

@media (min-width: 992px)
{
    .navbarpropio {
        display: flex;
        justify-content: flex-end;
        font-weight: 500;
    } 
 }
