.seccion-principal {
    height: 800px;
    background-image: url("../img/fondo-principal-hearfold-3.png");
    background-size: cover;
}

@media (max-width: 992px) {
    .seccion-principal {
        height:550px;
    }
}

@media (max-width: 414px) {
    .seccion-principal {
     height:100%;
     background-color: #6e2b9c;
     background-image: none;
     padding-bottom: 50px;
    }
}

.texto-principal {
    display:flex;
    padding-left: 50px;
    justify-content: center;
    flex-flow: column wrap;
    margin-top:120px;
   }

@media (max-width: 414px) {
    .texto-principal {
    margin-top:20px;
    }
}

.title-1 {
    display: flex;
    flex-direction: row;
}

.title-1-home {
    font-weight: 200;
    margin-right: 5px;
}

.title-2-home {
    font-weight: 400;
    color:#fff;
}


.title-4-home {
    margin-right: 5px;
    color:rgb(255, 255, 255);
    font-weight: 200;
    margin-bottom: 10px;
}



.section-heartfold {
    padding: 40px;
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content: center;

}
.subtitulo-heartfold {
    font-size: 20px;
    margin:0px 0px 10px 0px;
}
.titulo-definicion {
    font-weight: 800;
    font-size: 2em;
    margin:0px 0px 10px 0px;
}

.galeria {
    border:10px solid #fff;
}

.box-hf{
    width: 70%;
}

@media (max-width: 992px) {
    .box-hf{
        width: 90%;
    }
    
}

.card-hf {
    background-image:linear-gradient(#fff, #cfb3fd);
    border:2px solid #fff;

}

.card-img-hf {
    width: 100px;
    margin:30px 30px;

}

.card-text-hf {
    font-size: 16px;
}

.card-body-hf {
    background-color: #ba90ff;
    padding: 4rem 2rem;
}

.fila {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
@media (max-width: 414px) {
   
    .fila {
        display: inline;
    }

    .icono-heartfold1 {
        width: 80%;
        padding-top:3em;
    }
}

#que-es-heartfold {
    height: 800px;
}

.colum {
    flex:1;
}

.icono-heartfold1 {
    max-width: 400px;
    display: block;
    margin: auto;
    &:hover {
        transition: all .4s ease;
        transform: rotate(360deg);
    }
}
.definicion-heartfold {
    font-size: 18px;
    width: 89%;
}

#galeria-de-creaciones {
    height: auto;
    background-image:linear-gradient(#e4dcff, #f1ecff);
    padding: 0 0 100px 0;
}
@media (max-width: 992px) {
    #galeria-de-creaciones {
        height:auto;
    }
}
.galeria-creaciones {
    display: flex;
    justify-content:space-around;
    padding:50px 50px;
}

.imagenes-galeria {
    width: 100%;
    border: #fff solid 10px;
    transition: all .4s ease;
}


#como-hacer-tu-pedido {
    height: auto;
    background-color:#d5bbff;
    padding-bottom: 100px;
}

#contacto {
    height: auto;
    background-image:linear-gradient( #fff, #e4dcff);
    padding: 0px 0 60px 0;
}

.icono-email { 
    width:40px;
    display: flex;
    margin: 0 auto 20px;
}

.formulario {
    padding:50px;
    border:1px solid $colorprimario;
    border-radius:10px;
}


@media (max-width: 992px) {
    .formulario {
        padding: 40px;
        border:none;
    }
}

.social {
    width:48px;
    position:fixed;
    right:0;
    bottom: 15%;
    border-radius: 3px;
    background-color: #fff;
}

.row-hf {
    --bs-gutter-x:0px;
  }
  .tz-gallery .row > div {
    padding: 0px;
    --bs-gutter-x:0px;
  }
  
  .tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
  }
  
  
  .baguetteBox-button {
    background-color: transparent !important;
  }
  
  #galeria-de-creaciones {
    height: 100%;
    background-color: #eddaff;
  }
  
  .row-hf {
    width: 100%;
  } 

