$colorprimario:#663399;
$colorsecundario:#e9009b;
$colorterciario:#9f63cf;
$colorbase:white;
$colortext:#6d6d6d;

.navbarpropio a, h2, .titulo-definicion, .formulario, .texto-contacto, .texto-contacto-bold {
    color:$colorprimario;

}

.footer, .formulario {
    background-color:$colorprimario;
}

.button, .btn-primary-hf {
    background-color:$colorterciario;
}
.navbarpropio a:hover, .nav-footer a:hover  {
    color:$colorsecundario;
}

.btn-primary-hf:hover, .button:hover {
    background-color:$colorsecundario;
}

.title-1-home, .title-2-home, h1, .title-4-home, .button , .button:hover, #que-es-heartfold, .card-text-hf, #como-hacer-tu-pedido, #contacto, .footer, .nav-footer a, .formulario {
    color:$colorbase;
}

.definicion-heartfold, .subtitulo-heartfold {
    color:$colortext;
}

